<div class="columns">
    <div class="column is-4 is-offset-4">

      <!-- CARD ITEM -->
      <div class="card">
        <!-- MEDIA-HEADER -->
        <div class="header">
          <div class="media">
            <!-- LEFT-SIDE OF MEDIA HEADER -->
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="">
                <!-- USER AVATAR -->
              </figure>
            </div>
            <!-- RIGHT-SIDE OF MEDIA HEADER -->
            <div class="media-content mediaMargin">
              <p class="title is-4">{{title}}</p>
              <!-- NAME -->
              <p class="subtitle is-6">Username</p>
              <!-- USERNAME -->
            </div>
          </div>

        </div>

        <!-- IMAGE -->
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{url}}">
            <!-- IMAGE SOURCE -->
          </figure>
        </div>
        <!-- CONTENT UNDER THE IMAGE -->
        <div class="card-content">
          <div class="content">
            <p>
              {{description}}
            </p>
            <!-- STRETCH GOAL: PICTURE DESCRIPTION HERE? -->
            <br>
            <em>{{created_at}}</em>
            <!-- TIMESTAMP -->
          </div>
        </div>

      </div>

    </div>
  </div>