<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- STYLES -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <!-- TITLE AND FAVICON -->
  <title>Newsfeed</title>

</head>

<body>

  <!-- HEADER -->
  <!-- NAVBAR -->
  <nav class="navbar is-dark is-fixed-top has-shadow">
    <div class="container">
      <!-- BRAND / LOGO -->
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/browse">
          <h1>bittos</h1>
        </a>
      </div>

      <!-- MENU ITEMS -->
      <div class="navbar-menu">
        <div class="navbar-end">

          <div class="navbar-item">

            <a class="navbar-item has-text-white menu" href="/browse">
              Browse
            </a>
            <a class="navbar-item has-text-white menu" href="/profile/1">
              Profile
            </a>
            <a class="navbar-item has-text-white is-primary menu" href="/post">
              Post
            </a>
            <a class="navbar-item button is-primary" href="/">
              Sign-up
            </a>

          </div>

        </div>
      </div>
    </div>
  </nav>

  <div class="parent">
    {{#each images}} {{> image-card}} {{/each}}
  </div>

</body>

</html>